<div class="container">
  <div class="actions">
    <h1>A picture for a word</h1>
    <input
      type="text"
      [ngClass]="{ error: hasError }"
      [(ngModel)]="searchValue"
      (keydown.enter)="search()"
    />

    <button
      *ngIf="updateDetected"
      [disabled]="!updateReady"
      (click)="forceUpdate()"
    >
      Force Update
    </button>
  </div>

  <div class="photos">
    <div
      class="photo"
      *ngFor="let photo of photos"
      [ngClass]="{ selected: photo.id === favoriteId }"
    >
      <img [src]="photo.src.tiny" (click)="addFavorite(photo.id)" />
    </div>
  </div>
</div>
