.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  background-color: #242424;
  height: 100%;
  overflow: hidden;

  .actions {
    display: flex;
    padding: 10px;

    input {
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 1.2rem;
    }

    .error {
      background-color: #9c2424;
      color: #ffffff;
    }
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: auto;

    .photo {
      img {
        height: 100%;
      }
    }
  }
}
